<launch>
  <include file="$(find velodyne_pointcloud)/launch/32e_points.launch">
    <arg name="calibration" value="/opt/ros/noetic/share/velodyne_pointcloud/params/32db.yaml"/>
  </include>

  <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch" />

  <include file="$(find ublox_gps)/launch/ublox_device.launch">
      <arg name="node_name" value="ublox" />
      <arg name="param_file_name" value="zed_f9p_rover" />
  </include>
  <node pkg="satfix_to_pose_py" type="gps_sub.py" name="gps_sub_node" respawn="true" />
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find crawler_controller)/config/logging.rviz"/>

</launch>